*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #023047;   
    color: #8ecae6;
}
p{
    font-size: 1rem;
}

#header{
    width: 100%;
    height: 100%;

}



/*================== for particles in header*/
#particles-js{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    margin-top: 100px;
    z-index: 0;


}
/*================== END for particles in header*/


.container{
    padding: 30px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .fa-solid{
    display: none;
}

#logo{
    font-size: 2rem;
    letter-spacing: 5px;
    text-shadow:
    0 0 7px #00537a,
    0 0 1px #00537a,
    0 0 11px #00537a,
    0 0 22px #00537a,
    0 0 32px #00537a,
    0 0 42px #00537a,
    0 0 52px #00537a,
    0 0 62px #00537a;
}

#letterC{
    font-size: 3rem;
    color: #fb8500;
}
#dot{
    color: #ffb703;
}
/* for hristian */
#highlight{
    color:#8ecae6;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffb703;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #8ecae6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.headerRow{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.header-col-1{
    flex-basis: 45%;
    position: relative;

}
.header-col-1 .headerImg{
    width: 100%;
    height: 100%;

}
.header-col-2{
    flex-basis: 55%;
}
.header-col-2 .header-text{
    position: relative;
    right: 0px;
    padding-left: 20px;
    margin-top: 20%;
    margin-right: 0%;
    font-size: 2rem;
    text-align: left;
}

.header-col-2 .header-text h1{
    margin: 30px 0;
    font-size: 3rem;
}
.header-col-2 .header-text h1 span{
    color: #fb8500;
}

/* about me section */

#about{
    margin-top: 30px;
    padding: 80px 0;
    color: #ffb703;
    
}
#about-paragraph{
    padding-top: 10px;
    text-align: justify;
    line-height: 1.5rem;
}

.skills-expands{
    display: none;
    margin-left: 40px;
}

.skills-expands ul li{
    list-style-type: circle;
    color: #8ecae6;
    
}
.skills-expands.active-expand{
    display: block;

}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 55%;
}
.sub-title{
    font-size: 3rem;
    font-weight: 800;
    color: #023047;   
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 11px #fff,
    0 0 12px #ffb703,
    0 0 22px #ffb703,
    0 0 32px #ffb703,
    0 0 42px #ffb703,
    0 0 2px #ffb703;
}
.sub-title p{
    font-size: 3rem;
    font-weight: 800;
    color: #8ecae6;   
}

.tab-titles{
    display: flex;
    margin: 20px 0 25px;
    color:#8ecae6;
}

.tab-links{
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fb8500;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-links:hover::after{
    width: 70%;
}
.tab-contents ul {
    list-style: none;
    margin-bottom: 10px 0;
}
.tab-contents ul li{
    margin: 12px 0;
}
.tab-contents ul li h4{
    margin: 8px 0;
}
.tab-contents ul li span{
    color:#8ecae6;

}
.tab-contents ul li p{

    color: #8ecae6;
    line-height: 1.3rem;
    text-indent: 5%;
    text-align: justify;

}

.skills-expands ul li{
    color: #ffb703;
}

.tab-contents ul .skills-lists span:hover{
    cursor: pointer;
    transition: 0.3s;
    color: #fb8500;
    font-size: 1.1rem;
}
.tab-contents ul .skills-lists span::after{
    font-size: 1.5rem;
    color: #ffb703;
}
.tab-contents ul span{
    color: #ffb703;
    font-size: 1rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.about-col-2{
    flex-basis: 40%;
}
/*responsive img */
.about-col-2 .aboutImg{
    width: 100%;
    margin-top: 80px;
    border-radius: 15px;
}


/* For Services */
.services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 50px;
}
.services-list div{
    background: #8ecae6;
    padding: 20px 30px;
    font-weight: 400;
    border-radius: 10px;
    transition: background-color 0.5s, transform 0.5s;
    
}
.services-list div i{
    font-size: 50px;
    margin: 10px 0;
    color: #00537a;
}
.services-list div h2{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 15px;
    color: #023047;
}
.services-list div p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin: 15px 0;
    color: #023047;
    text-align: justify;

}

.services-list div:hover{
    background-color: #f1b92c;
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.50);
    transition: box-shadow 0.5s, transform 0.5s, background-color 0.5s;
}



/* for projects section*/

#portfolio{
    color: #ffb703;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
/*========================= para ma center ung img within the container*/
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s; /* smooth transition for 'transform' scale*/
    border: 2px solid #fb8500;

}
/*========================= para ma center ung img within the container*/
.layer{
    height: 0%;
    width: 100%;
    background: linear-gradient(rgba(20, 20, 20, 0.9), #fb8500);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s;
    color: #8ecae6;
}

.layer h3{
    padding-top: 10%;
    font-weight: 600;
    color: #ffb703;
}
.layer p{
    margin-top: 10px;
    font-weight: 500;
}
.layer i{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: #8ecae6;
    background: #00537a;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}
.layer i:hover{
    color: #fb8500;

    transition: color 0.5s, transform 0.5s;
}
/*========================= for hover show layer */
.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}
/*========================= end for hover show layer */

.btn{
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid #ffb703;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #efeeea;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
}
.btn.btn1:hover{
    background-color: #fb8500;
    transform: scale(1.1);
    transition: background-color 0.5s, transform 0.5s;
    box-shadow: 0 5px 15px rgba(251, 133, 0, 0.4);

}

.btn.btn2{
    border: 0px;
    display: inline-block;
    background-color: rgba(251, 133, 0, 1);
    box-shadow: 0 5px 15px rgba(142, 202, 230, 0.4);
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
    color: #00537a;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn.btn2:hover{
    background-color: #fb8500;
    transform: scale(1.1);
    transition: background-color 0.5s, transform 0.5s;
    box-shadow: 0 5px 25px rgba(142, 202, 230, 0.4);
    

}



.btn.btn3{
    display: inline-block;
    background-color: rgba(251, 133, 0, 0.8);
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
    font-weight: 800;
}
.btn.btn3:hover{
    background-color: rgba(251, 133, 0, 1);
    transition: background-color 0.5s, transform 0.5s;
}


/*For Contacts*/

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #fc9d33;
    margin-right: 15px;
    font-size: 2rem;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 2rem;
    color: #ffb703;
    display: inline-block;
}
.social-icons a:hover{
    color: #fb8500;
    transition: color 0.5s, transform 0.8s;
    transform: scale(1.5);
}



.contact-right{
    flex-basis: 60%;
}
.contact-right form{

    text-align: end;
    width: 100%;
}
.contact-right ::placeholder{
    color: #efeeea;
}
form input, form textarea{
    width: 100%;
    border: 0;
    padding: 10px;
    margin: 10px 0;
    background: #00537a;
    outline: none;
    resize: none;
    font-size: 1rem;
    color: #8ecae6;
    border-radius: 6px;
}
form .btn2{
    padding: 10px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #00537a;
    font-weight: 500;
    margin-top: 20px;
    color: #efeeea;
}






/* STYLES FOR more.html*/
.projContainer{
    padding: 30px 10%;
}
.fa-arrow-left{
    color: #023047;
    font-size: 35px;
    background-color: #ffb703;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px solid #000;
    

}
.fa-arrow-left:hover{
    color: #efeeea;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(142, 202, 230, 0.2), 0 6px 20px 0 rgba(142, 202, 230, 0.2);

    
}

.fa-arrow-left:hover::after{
    width: 100%;
}
.title{
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    text-shadow:
    0 0 1px #000,
    0 0 1px #000,
    0 0 11px #000,
    0 0 22px #ffb703,
    0 0 42px #ffb703,
    0 0 52px #ffb703,
    0 0 62px #ffb703,
    0 0 7px #ffb703;
}
.title h1 span{
    color: #ffb703;
}
.projectsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.projectsList .project{
    border-radius: 10px;
    display: flex;
    margin: 40px 0;
    background-color: rgba(241, 185, 44, 0.9);
    transition: 0.5s;
    color: #023047;
    width: 100%;
}
.projectsList .project:hover{
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
    transform: scale(1.1);
    background-color: #f1b92c;
    box-shadow: 0 4px 8px 0 rgba(142, 202, 230, 0.2), 0 6px 20px 0 rgba(142, 202, 230, 0.2);
}
.project img{
    width: 35%;
    border-radius: 10px;

    vertical-align: top;
    margin: 20px 0px;
    transition: 0.5s;
    border: 3px solid #8ecae6;
}
.project img:hover{
    width: 40%;
    cursor: pointer;

}

.project .details{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 20px;
}
.project .details h2{
    color: #023047;
    text-decoration: solid;
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 2rem;
/* 1 pixel black shadow to left, top, right and bottom */
text-shadow: 
    -2px 0 #8ecae6, 
    0 2px #8ecae6, 
    2px 0 #8ecae6, 
    0 -2px #8ecae6;
}
.project .details p{
    padding: 10px 60px;
    text-align: justify;
}






/*============================================ styles for slideshow in MORE.html section */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

video {
    max-width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    max-height: 420px;
    width: 100%;
    border-radius: 10px;

    vertical-align: top;
    margin: 20px 0px;
    transition: 0.5s;
    border: 3px solid #8ecae6;
  }

.project img{
    max-height: 420px;
}
#portrait{
    object-fit: contain;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
















/* ======================================= for small screens ==================================================== */

@media only screen and (max-width: 576px){
    #header{
        width: 100%;
        height: 100%;

    }
    #about{
        padding: 0px;
    
    }
    
    nav .fa-solid{
        display: block;
        font-size: 35px;
    }
    nav ul{
        background: #00537a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 40px 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;        
    }
 
    nav .fa-bars{
        cursor: pointer;        
    }

/* FOR SMALL SCREEN HEADER */

    .headerRow{
        display: flex;
        margin-top: 25px;
    }
    .headerRow .header-col-1, .headerRow .header-col-2{
        flex-basis: 100%;
    }
    
    .headerRow .header-col-1 .headerImg{
        width: 100%;
        height: 100%;       
    }
    .headerRow .header-col-2 .header-text{
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        font-size: 20px;
    
    }
    .headerRow .header-col-2 .header-text h1{
        font-size: 2rem;

    }

    #aboutRowWrap{
        flex-wrap: wrap-reverse;
    }
    .sub-title{
        text-align: center;
        font-size: 2rem;
        margin-top: 5%;
        margin-bottom: 10px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        font-size: 16px;
    }
    .tab-links{
        font-size: 18px;
        margin-right: 30px;
    }
    .about-col-2 .aboutImg{
        margin-top: 0;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    #services .container{
        padding: 30px 0;
    }
    .services-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        
    .services-list div i{
        font-size: 2rem;
    }
    .services-list div h2{
        font-size: 1.4rem;
    }
    .services-list div p{
        font-size: 1rem;
    }


    .project .details p{
        padding: 10px;
        text-align: justify;
    }
    .project .details h2{
        font-size: 1.5rem;
    }
    .projContainer h1{
        text-align: center;
    }

}

/*====================================== for med screen ================================*/


@media only screen and (min-width: 577px) and (max-width: 775px) {
    #header{
        width: 100%;
        height: 100%;
    }

    nav .fa-solid{
        display: block;
        font-size: 35px;
    }
    nav ul{
        background: #00537a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 30px 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;        
    }
 
    nav .fa-bars{
        cursor: pointer;        
    }
    .about-col-2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .about-col-2 .aboutImg{
        width: 60%;
        border-radius: 15px;

    }
/* med screen with hamburger menu */
    .headerRow{
        display: flex;
        margin-top: 25px;
    }
    .headerRow .header-col-1, .headerRow .header-col-2{
        flex-basis: 100%;
    }
    
    .headerRow .header-col-1 .headerImg{
        width: 80%;
        height: 100%;       
    }

    .headerRow .header-col-2 .header-text{
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        font-size: 20px;
    
    }
    .headerRow .header-col-2 .header-text h1{
        font-size: 35px;
        
    }
    #about{
        padding: 0;
    }
    .about-col-2 .aboutImg{
        margin-top: 0;
    }

    #aboutRowWrap{
        flex-wrap: wrap-reverse;
    }
    .sub-title{
        font-size: 3rem;
        margin-top: 5%;
        margin-bottom: 10px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-2{
        padding: 40px 0;
    }
    .about-col-1{
        font-size: 16px;
    }
    .tab-links{
        font-size: 18px;
        margin-right: 30px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .services-list{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .project .details p{
        padding: 20px;
        text-align: justify;
    }
    
}

/*=============================================================== for large screen */
@media only screen and (min-width: 776px) and (max-width: 1050px) {
    .header-col-1 .headerImg{
        width: 100%;
        height: 100%;
    
    }
    #about{
        padding: 0;
    }

    #contact .row{
        display: flex;
        flex-direction: column;
        
    }
    nav ul li{

        margin: 8px;
    }
    
    nav ul li a{
        font-size: 15px;
    }
    .headerRow .header-col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .headerRow .header-col-2 .header-text{
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        font-size: 20px;
    
    }
    .headerRow .header-col-2 .header-text h1{
        font-size: 2rem;
        
    }
    .services-list{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .services-list div h2{
        font-size: 1.6rem;
    }
    
    
}











